* {
    box-sizing: border-box;
}

.alumni-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

body {
    background-color: #f8f9fa;
    font-family: Arial;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3 {
    color: darkgreen;
}

.bg-warning {
    background-color: salmon;
}

.text-success {
    color: green;
}
#h5 {
    color: blue;
}

a {
    text-decoration: none;
    color: palevioletred;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.rounded {
    border-radius: 20px;
}

input[type="text"], input[type="date"], textarea, select {
    width: 75%;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid black;

}

button {
    border-radius: 10px;
    border: 1px solid white;
    background-color: green;
    color: white;
    padding: 5px;
    width: 100%;
}